body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#malla {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 10px;
}

.malla-item {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.malla-item:hover {
    background-color: #bada55;
}
